@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Telex&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Telex', sans-serif;
    
    list-style: none;
    position: relative
}
body {
  height: 100%;
  
}

section
{
    width: 100%;
    min-height: 100vh;
    
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    box-sizing: border-box;

}

section video {

    
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        z-index: 2;
      
}

header
{
    position: absolute;
    top: 0;
    right: 600px;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
  
    
}
#header-img
{
    width: 18vw;
    height: 9vw;
    opacity: 0.5;
    position: relative;
    z-index: 99;
    box-sizing: border-box;
    padding-right: 30%;
}
.containcatch {

  position: absolute;
  z-index: 94;
  height: 30vw;
  width: 38vw;
  margin-left: 7%;
  margin-top: 9%;
  background: linear-gradient(to right,
  rgba(223, 255, 45, 0.75),  
  rgba(17, 199, 255, 0.75));
  border-radius: 50%;
  opacity: 0.6;
}



.catchphrase {
  z-index: 95;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 7%;
  margin-left: 14%;
  height: 30%;
  box-sizing: border-box;
  
}

.catchphrase h1 {
  margin-left: 10%;  
  font-size: 39px;
  width: 20vw;
}
.catchphrase h1 span {
  font-family: 'Work Sans', sans-serif;
  color: #ddd;
}

.catchphrase h2 {
  width: 20vw;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10%;
  color: rgb(0, 0, 0);
}
.catchphrase h2 span{
  font-weight: bolder;
  color: white;
}
#form {
  width: 30rem;
  position: absolute;
  top: 33rem;
  left: -1rem;
}
#form span{
color: thistle;
position: absolute;
font-size: 12px;
align-content: center;
background-color: black;

}
#notification {
  margin: 5px;
  
}
#email {
  width: 18rem;
  height: 1.9rem;
  font-size: 13px;
  outline: none;
}

#submit {
  font-weight: 700;
  height: 2rem;
  font-size: 10px;
  margin: 10px;

}

#submit:hover { 
  color: #000000;
  background-color: teal;
  border: solid rgb(0, 0, 0) 2px;
  box-shadow: 0px 0px 50px 10px rgb(3, 3, 3);
  animation: anim-shadow .3s forwards;

}
/* 
navbar*/
.menuTxt {
  bottom: -2em;
  margin: 10px;
  left: -10px;
  padding: 0;
  font-size: 14px;
  font-family: 'Telex', sans-serif;
  box-sizing: border-box;
  z-index: 88;
}

.menuTextWrapper span {
  position :relative;
  left: -16px;
  bottom: -1em;
  
}

.csstransforms .cn-wrapper {
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  bottom: -13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  box-sizing: border-box;
}

.csstransforms .opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 99;
  
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
  
}
/* MENU BUTTON */
.cn-button {
  font-family: 'Courier New', Courier, monospace;  
  background: none;
  color: #000000;
  border: solid #000000 2px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bolder;
  padding-bottom: 1em;
  height: 4.3em;
  width: 3.9em;
  background-color: rgb(236, 232, 227);
  position: fixed;  
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.80em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  opacity: 1;
  outline: none;
  
  
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: #000000;
  border: solid rgb(255, 255, 255) 2px;
  box-shadow: 0px 0px 50px 10px rgba(255, 0, 0, 0.479);
  animation: anim-shadow .3s forwards;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  /* -webkit-backface-visibility: hidden; */
  -webkit-transition: opacity 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s  */

.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: #100f0f;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: #100f0f;
  background-color: rgb(73, 4, 44);
  opacity: 0.9;
}

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: #b31515;
  background-color: hsla(0, 88%, 70%, 1);
}


/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: #b31515;
  background-color: rgb(255, 255, 255);
  color: #000000;
}
.csstransforms .cn-wrapper li:not(.active) a:focus
{
    position:fixed;
}

/*navigation bar overlay slides*/

/* fallback */
.no-csstransforms .cn-button {
  display: none;
}

.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
  border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

.no-csstransforms .cn-wrapper {
  font-size: 1em;
  height: 5em;
  width: 25.15em;
  bottom: 0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border: 1px solid #ddd;
}

@media screen and (max-width:480px) {
  .csstransforms .cn-wrapper {
    font-size: .68em;
  }

  .cn-button {
    font-size: 1em;
  }

  .csstransforms .cn-wrapper li {
    font-size: 1.52em;
  }
}

@media screen and (max-width:320px) {
  .no-csstransforms .cn-wrapper {
    width: 15.15px;
    margin-left: -7.5em;
  }

  .no-csstransforms .cn-wrapper li {
    height: 3em;
    width: 3em;
  }
}
/* overlay slider */

.rotate-slider{
  margin: 5em auto;
  height: 360px;
  /* overflow: hidden; */
  width: 480px;
}
.rotate-slider ul.slides{
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
  position: relative;
    top: 0;
    left: 50%;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
}
.rotate-slider ul.slides.animate{
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
.rotate-slider ul.slides li{
  background-position: center;
  background-size: cover;
  display: block;
  color: #fff;
  list-style: none;
  position: absolute;
    top: 0;
    left: 50%;
  text-align: center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  width: 100%;
  opacity: 1;
}
.rotate-slider ul.slides li:nth-of-type(1){background: #00491c;}
.rotate-slider ul.slides li:nth-of-type(2){background: url('https://old.filipinotimes.net/wp-content/uploads/2019/05/Screen-Shot-2019-05-09-at-3.51.46-PM-e1557402879642.png');
  background-size: cover;}
.rotate-slider ul.slides li:nth-of-type(3){background: #3f0000;}
.rotate-slider ul.slides li:nth-of-type(4){background: url('image/perfume2.jpg');
  background-size: cover;
}
.rotate-slider ul.slides li:nth-of-type(5){background: #030301;}
.rotate-slider ul.slides li:nth-of-type(6){background: url('image/perfume1.jpg');
  background-size: cover;
opacity: 0,3;}
.rotate-slider ul.slides li .inner{
  box-sizing: border-box;
  padding: 2em;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
  
}

.personTitle {
  color: #000000;
}

